.sidebar {
    height: 100%;
    flex: 0 0 20%;
    border-right: 1px solid gray;
    padding: 10px;
  }

  .content {
    height: 100%;
    padding: 10px;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: 0;
    border: 1px solid red;
  }
